/*KOLORY*/
:root{
--primary-0:rgba( 75,145, 48,1) ;
--primary-1:rgba( 69, 72, 68,1) ;
--primary-2:rgba( 45, 94, 26,1) ;
--primary-3:rgba( 61,224,  0,1) ;
--primary-4:rgba(221,230,217,1) ;
}

body{
    display: grid;
    direction: column;
    align-items: center;
    background: var(--primary-1);
    color: var(--primary-4);
    font-family: 'Inconsolata', monospace;

}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: inherit;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 5ex 4ex;

}
nav button{
width: 100px;
height: 50px;
border-radius:5% 5% 10% 10%;
background: var(--primary-4);
box-shadow: 0 4px 8px 0 var(--primary-2), 0 6px 20px 0 var(--primary-0);

}
section{
    display: flex;
    color: #000;
    background: var(--primary-4);
    min-height: 200px;
}
header{
    display: grid;
    justify-content: center;
    font-size: 5ex;
}

footer{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 5px;
}

#map{
    display: flex;
    width: 100%;
    height: 600px;

}
icon{
    size: 10px;
}


#chatbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#chatbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
#chatBoxShow{
    display: flex;
    background-color: var(--primary-4);
    height: 400px;
    width: 100%;

}

#chatbox div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#manageSend{
    display: flex;
    flex-direction: row;
    justify-content: center;


}
#inputMess{
    display: flex;
    
}

#sendMess{
    display: flex;
    
}
.genMess{
    display: flex;
    flex-direction: row;
    color: var(--primary-1);
    justify-content: spacebetween;
}

